<% content_for :title, "Stakkd - #{@show.translated_title} - Season #{@season.number}" %>

<%= render "shared/colour_from_image", image: @season.poster %>

<% if @show.background %>
  <div class="absolute -z-10 w-full h-96 overflow-hidden flex items-center justify-center">
    <%= image_tag @show.background, class: "w-full min-h-96 object-cover blur-xs" %>
    <div class="absolute w-full h-full bg-linear-to-t from-background to-background/35"></div>
  </div>
<% end %>

<% potential_name = @season.specials? ? "Specials" : "Season #{@season.number}" %>
<div class="max-w-7xl mx-auto my-8 px-6 pt-10">
  <div class="grid grid-cols-1 md:grid-cols-4 md:gap-8 md:min-h-screen">
    <div class="col-span-1 bg-background-darker rounded-lg p-4 flex flex-col gap-10 items-center md:items-start">
      <%= image_tag @season.poster, class: "max-h-40 w-fit md:w-full md:max-h-none rounded-lg" %>
      <div class="block md:hidden w-full">
        <h3 class="text-2xl font-bold font-domine text-white">
          <i class="fa-solid fa-tv text-2xl mr-6"></i>
          <%= link_to @show.translated_title, @show, class: "underline" %> - <%= potential_name %>
        </h3>
        <% if @season.translated_name != potential_name %>
          <p class="text-xl mt-4 italic font-bold"><%= @season.translated_name %></p>
        <% end %>
      </div>
      <div class="w-full grid grid-cols-2 sm:grid-cols-3 md:grid-cols-1 gap-10">
        <div>
          <p class="font-domine"><b>Premiered:</b></p>
          <p><%= @season.premiere_date&.strftime("%B %d, %Y") || "TBA" %></p>
        </div>
        <div>
          <p class="font-domine"><b>Runtime:</b></p>
          <%# TODO: Extract to class/model and show relavent unit e.g. 1 hour and 24 minutes %>
          <p><%= format_runtime(@season) %></p>
        </div>
      </div>
      <% if @show.companies.any? %>
        <%= render "shared/companies", companies: @show.companies %>
      <% end %>
      <div class="flex gap-4 flex-col w-full">
        <%= link_to "Edit", edit_show_season_path(@season, show_id: @show), class: "link" %>
      </div>
    </div>

    <div class="col-span-3 flex flex-col gap-10">
      <div class="hidden md:block">
        <h3 class="text-4xl font-bold font-domine text-white mt-10 md:mt-4">
          <i class="fa-solid fa-tv text-4xl mr-6"></i>
          <%= link_to @show.translated_title, @show, class: "underline" %> - <%= potential_name %>
        </h3>
        <% if @season.translated_name != potential_name %>
          <p class="text-xl mt-4 italic font-bold"><%= @season.translated_name %></p>
        <% end %>
      </div>
      <div class="mt-10 md:mt-0 leading-6 text-sm md:text-base flex flex-col gap-6">
        <p class="block sm:hidden text-xl font-domine">Overview:</p>
        <%= simple_format(@season.overview.presence || @show.overview.presence) %>
      </div>

      <div class="flex flex-wrap gap-2 justify-between">
        <% if @season.previous_season %>
          <%= link_to "Previous", show_season_path(@season.previous_season, show_id: @show), class: "link" %>
        <% end %>
        <div class="flex-1"></div>
        <% if @season.next_season %>
          <%= link_to "Next", show_season_path(@season.next_season, show_id: @show), class: "link" %>
        <% end %>
      </div>

      <%= render "shared/cast_members", cast_members: @cast_members, full_cast_path: cast_show_season_path(@season, show_id: @show) %>

      <div class="flex flex-col gap-4">
        <div>
          <%= link_to new_show_season_episode_path(season_id: @season, show_id: @show), class: "link float-right flex items-center gap-2" do %>
            <i class="fa-solid fa-plus"></i>
            New episode
          <% end %>
        </div>
        <% @season.ordered_episodes.with_attached_backgrounds.each do |episode| %>
          <div class="grid grid-cols-1 md:grid-cols-3">
            <div class="col-span-1">
              <%= link_to show_season_episode_path(episode, season_id: @season, show_id: @show) do %>
                <%= image_tag episode.background, class: "rounded-lg md:rounded-r-none border border-pop aspect-[16/9]" %>
              <% end %>
            </div>
            <div class="col-span-1 md:col-span-2">
              <div class="flex justify-between gap-4 bg-background-darker md:border md:border-pop md:border-l-0 p-4 rounded-lg md:rounded-l-none">
                <div class="flex flex-wrap items-center gap-2">
                  <%= link_to show_season_episode_path(episode, season_id: @season, show_id: @show), class: "font-domine hover:underline decoration-pop" do %>
                    <b class="text-pop">Episode <%= episode.number %></b> - <%= episode.translated_name %>
                  <% end %>
                  <% unless episode.standard? %>
                    <small class="py-1 px-2 bg-pop/50 rounded-lg whitespace-nowrap"><%= episode.episode_type %></small>
                  <% end %>
                </div>
                <%= link_to edit_show_season_episode_path(episode, season_id: @season, show_id: @show) do %>
                  <i class="fa-solid fa-pen"></i>
                <% end %>
              </div>
              <p class="px-4 pt-2 text-sm line-clamp-2 sm:line-clamp-3 md:line-clamp-4"><%= episode.overview %></p>
              <p class="px-4 pt-2 text-sm"><%= episode.original_air_date&.strftime("%B %d, %Y") || "Unknown air date" %> - <%= format_runtime(episode) %></p>
            </div>
          </div>
        <% end %>
      </div>

      <%= render "shared/galleries", presenter: @gallery_presenter %>

      <div class="flex flex-wrap gap-2 justify-between">
        <% if @season.previous_season %>
          <%= link_to "Previous", show_season_path(@season.previous_season, show_id: @show), class: "link" %>
        <% end %>
        <div class="flex-1"></div>
        <% if @season.next_season %>
          <%= link_to "Next", show_season_path(@season.next_season, show_id: @show), class: "link" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
