<% content_for :title, "Stakkd - #{@relatable} cast members" %>

<%= render "#{relatable_model_plural}/header", @relatable.related_records %>

<div class="max-w-7xl mx-auto my-8 px-6">
  <div class="form">
    <%= render "#{relatable_model_plural}/form_nav", @relatable.related_records %>

    <%# TODO: Come up with a better way of doing this. %>
    <% if @relatable.is_a?(Show) %>
      <div class="border-b border-b-pop">
        <div class="border border-pop bg-pop/50 p-2 rounded-lg m-6">
          <h4 class="font-domine font-bold text-xl mb-2">A note on recurring season regulars:</h4>
          <p>These are cast members that appear in every season. If a cast member does not appear in all seasons of this show, add them to each individual season instead.</p>
        </div>
      </div>
    <% end %>

    <%= render "shared/table_editor", table_presenter: @table_presenter, path_prefix: nested_path_for(relatable: @relatable) %>

    <%= form_with model: [@relatable, CastMember.new] do |form| %>
      <h4 class="font-bold text-2xl">Add a cast member</h4>

      <div class="flex flex-col sm:flex-row gap-6">
        <div class="basis-full sm:basis-1/2 relative">
          <%= form.label :person_id %>
          <%= form.text_field :person_id, required: true, autocomplete: "off", data: {controller: "ajax-search", ajax_search_search_url_value: people_path} %>
        </div>

        <div class="basis-full sm:basis-1/2">
          <%= form.label :character %>
          <%= form.text_field :character, required: true, autocomplete: "off" %>
        </div>
      </div>

      <div>
        <%= form.submit "Save" %>
      </div>
    <% end %>
  </div>
</div>
