<div id="<%= dom_id movie %>">
  <p>
    <strong>Budget:</strong>
    <%= movie.budget %>
  </p>

  <p>
    <strong>Homepage:</strong>
    <%= movie.homepage %>
  </p>

  <p>
    <strong>Imdb:</strong>
    <%= movie.imdb_id %>
  </p>

  <p>
    <strong>Original title:</strong>
    <%= movie.original_title %>
  </p>

  <p>
    <strong>Overview:</strong>
    <%= movie.overview %>
  </p>

  <p>
    <strong>Release date:</strong>
    <%= movie.release_date %>
  </p>

  <p>
    <strong>Revenue:</strong>
    <%= movie.revenue %>
  </p>

  <p>
    <strong>Runtime:</strong>
    <%= movie.runtime %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= movie.status %>
  </p>

  <p>
    <strong>Tagline:</strong>
    <%= movie.tagline %>
  </p>

  <p>
    <strong>Translated title:</strong>
    <%= movie.translated_title %>
  </p>

  <p>
    <strong>Title kebab:</strong>
    <%= movie.title_kebab %>
  </p>

</div>
