<% content_for :title, "Movies" %>

<div class="max-w-7xl mx-auto my-28 px-6">
  <div class="flex gap-8 justify-between flex-col sm:flex-row w-full mt-28 mb-10">
    <h3 class="text-4xl font-bold font-domine text-white text-center">Movies</h3>
    <%= link_to "Add a movie", new_movie_path, class: "link" %>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-4 md:gap-8 md:min-h-screen">
    <%= form_with(url: movies_path, method: "get", class: "col-span-1 flex flex-col gap-5 items-center md:items-start", data: {turbo_frame: "movies"}) do %>
      <details class="bg-background-darker w-full rounded-lg">
        <summary class="p-4 cursor-pointer border-b-2 border-background">Sort</summary>
        <div class="p-4">
          <select class="input" name="sort" autocomplete="off">
            <option value="popularity">Popularity</option>
            <option value="rating">Rating</option>
            <option value="title">Title</option>
          </select>
        </div>
      </details>

      <details class="bg-background-darker w-full rounded-lg mb-4" open>
        <summary class="p-4 cursor-pointer border-b-2 border-background">Filters</summary>
        <div class="flex flex-col">
          <div class="p-4 border-b-2 border-background">
            <label>
              <input type="checkbox" name="hide_watched" class="mr-2 checked:bg-pop" autocomplete="off">
              Hide movies I've watched
            </label>
          </div>

          <div class="p-4 border-b-2 border-background flex flex-col gap-4">
            <p><b>Release dates</b></p>
            <select name="release_type" class="input" autocomplete="off">
              <option value="All" <%= (params[:release_type] == "All") ? "selected" : "" %>>All Releases</option>
              <% Release::TYPES.each do |type| %>
                <option value="<%= type %>" <%= (params[:release_type] == type) ? "selected" : "" %>><%= type %></option>
              <% end %>
            </select>
            <div class="flex flex-col gap-1">
              <label for="release_date_from" class="basis-1/4">From</label>
              <input type="date" name="release_date_from" class="input" autocomplete="off" value="<%= params[:release_date_from] || "" %>">
            </div>
            <div class="flex flex-col gap-1">
              <label for="release_date_to" class="basis-1/4">To</label>
              <input type="date" name="release_date_to" class="input" autocomplete="off" value="<%= params[:release_date_to] || "" %>">
            </div>
          </div>

          <div class="p-4 border-b-2 border-background">
            <p class="mb-4"><b>Genres</b></p>
            <div class="flex flex-wrap gap-2">
              <% Genre.all.order(:name).each do |genre| %>
                <div class="border border-pop rounded-lg overflow-hidden">
                  <input type="checkbox"
                    name="genre_ids[]"
                    value="<%= genre.id %>"
                    id="genre_<%= genre.id %>"
                    class="hidden peer"
                    autocomplete="off"
                    <%= params[:genre_ids]&.include?(genre.id.to_s) ? "checked" : "" %>>
                  <label for="genre_<%= genre.id %>" class="cursor-pointer block px-2 py-1 peer-checked:bg-pop/50"><%= genre.name %></label>
                </div>
              <% end %>
            </div>
          </div>

          <div class="p-4 border-b-2 border-background">
            <p class="mb-4"><b>Country</b></p>
            <select name="country_id" class="input" autocomplete="off">
              <option value="" <%= params[:country_id].blank? ? "selected" : "" %>>None selected</option>
              <% Country.all.order(:translated_name).each do |country| %>
                <option value="<%= country.id %>" <%= (params[:country_id].to_i == country.id) ? "selected" : "" %>><%= country.translated_name %></option>
              <% end %>
            </select>
          </div>

          <div class="p-4 border-b-2 border-background">
            <%= submit_tag "Apply filter", class: "link w-full" %>
          </div>
        </div>
      </details>
    <% end %>
    <div class="col-span-3">
      <%= turbo_frame_tag "movies", class: "grid grid-cols-2 md:grid-cols-3 gap-4" do %>
        <% @movies.each do |movie| %>
          <%= render movie %>
        <% end %>

        <% if @movies.any? && @movies.next_page.present? %>
          <%= render "load_more" %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
