<div class="flex gap-4">
  <%= link_to company_assignment.record do %>
    <%= image_tag company_assignment.record.poster(variant: :thumb), class: "w-16 min-w-16 border border-pop rounded-lg" %>
  <% end %>
  <div class="flex flex-col gap-1">
    <div class="font-domine">
      <%= link_to company_assignment.record, company_assignment.record, class: "text-pop", data: {turbo_frame: "_top"} %> (<%= company_assignment.record.year || "TBA" %>)
    </div>
    <div class="text-xs"></div>
    <div class="text-xs line-clamp-3"><%= company_assignment.record.overview %></div>
  </div>
</div>
