<div class="form">
  <%= render "form_nav", company: %>
  <%= form_with model: company do |form| %>
    <% if company.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(company.errors.count, "error") %> prohibited this company from being saved:</h2>

        <ul>
          <% company.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="flex gap-6">
      <div class="basis-1/3">
        <%= form.label :name %>
        <%= form.text_field :name, required: true %>
      </div>
    </div>

    <div>
      <%= form.label :description %>
      <%= form.text_area :description, class: "h-44" %>
    </div>

    <div class="flex gap-6">
      <div class="basis-1/2">
        <%= form.label :homepage, "Homepage" %>
        <%= form.url_field :homepage %>
      </div>
      <div class="basis-1/2">
        <%= form.label :country_id %>
        <%= form.collection_select :country_id, Country.order(:code), :id, :translated_name %>
      </div>
    </div>

    <div>
      <%= form.submit "Save" %>
    </div>
  <% end %>
</div>
