<% content_for :title, "Stakkd - Companies" %>

<div class="max-w-7xl mx-auto my-28 px-6">
  <div class="flex gap-8 justify-between flex-col sm:flex-row w-full mt-28 mb-10">
    <h3 class="text-4xl font-bold font-domine text-white text-center">Companies</h3>
    <%= link_to "Add a company", new_company_path, class: "link" %>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-4 md:gap-8 md:min-h-screen">
    <%= form_with(url: companies_path, method: "get", class: "col-span-1 flex flex-col gap-5 items-center md:items-start", data: {turbo_frame: "companies_filter_results"}) do |form| %>
      <details class="bg-background-darker w-full rounded-lg" data-auto-open>
        <summary class="p-4 cursor-pointer border-b-2 border-background"><span class="ml-2">Sort</span></summary>
        <div class="p-4">
          <select class="input" name="sort" autocomplete="off">
            <option value="name">Name</option>
          </select>
        </div>
      </details>

      <details class="bg-background-darker w-full rounded-lg mb-4" data-auto-open>
        <summary class="p-4 cursor-pointer border-b-2 border-background"><span class="ml-2">Filters</span></summary>
        <div class="flex flex-col">
          <div class="p-4 border-b-2 border-background">
            <p class="mb-4"><b>Country</b></p>
            <select name="country_id" class="input" autocomplete="off">
              <option value="" <%= params[:country_id].blank? ? "selected" : "" %>>None selected</option>
              <% Country.all.order(:translated_name).each do |country| %>
                <option value="<%= country.id %>" <%= (params[:country_id].to_i == country.id) ? "selected" : "" %>><%= country.translated_name %></option>
              <% end %>
            </select>
          </div>

          <div class="p-4 border-b-2 border-background">
            <%= submit_tag "Apply filter", class: "link w-full" %>
          </div>
        </div>
      </details>
    <% end %>
    <div class="col-span-3">
      <%= turbo_frame_tag "companies_filter_results" do %>
        <%= turbo_frame_tag "companies", class: "grid grid-cols-2 md:grid-cols-3 gap-4" do %>
          <% @companies.each do |company| %>
            <%= render company %>
          <% end %>
        <% end %>
        <% if @companies.any? && @companies.next_page.present? %>
          <%= render "load_more" %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
