<% content_for :title, "Stakkd - #{@company.name}" %>

<%= render "shared/colour_from_image", image: @company.logo %>

<div class="max-w-7xl mx-auto my-8 px-6 pt-10">
  <div class="grid grid-cols-1 md:grid-cols-4 md:gap-8 md:min-h-screen">
    <div class="col-span-1 bg-background-darker rounded-lg p-4 flex flex-col gap-10 items-center md:items-start">
      <%= image_tag @company.logo, class: "max-h-40 w-fit md:w-full md:max-h-none rounded-lg" %>
      <div class="flex gap-4 flex-col w-full">
        <%= link_to "Edit", edit_company_path(@company), class: "link" %>
        <% if @company.homepage.present? %>
          <%= link_to @company.homepage, class: "link link-flex justify-center w-full" do %>
            <i class="fa-solid fa-globe text-2xl"></i>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="col-span-3 flex flex-col gap-10">
      <h3 class="text-4xl font-bold font-domine text-white mt-10 md:mt-4">
        <i class="fa-solid fa-building text-4xl mr-6"></i>
        <%= @company.name %>
      </h3>
      <% if @company.description.present? %>
        <div class="leading-[1.5rem] text-sm md:text-base flex flex-col gap-6">
          <%= simple_format @company.description %>
        </div>
      <% end %>
      <div class="w-full h-44 border border-pop rounded-lg flex justify-center items-center">
        This is a work in progress. Please check back later.
      </div>

      <%= render "shared/galleries", presenter: @gallery_presenter %>
    </div>
  </div>
</div>
