<% content_for :title, "Stakkd - #{@relatable} crew members" %>

<%= render "#{relatable_model_plural}/header", @relatable.related_records %>

<div class="max-w-7xl mx-auto my-8 px-6">
  <div class="form">
    <%= render "#{relatable_model_plural}/form_nav", @relatable.related_records %>

    <%= render "shared/table_editor", table_presenter: @table_presenter, path_prefix: nested_path_for(relatable: @relatable) %>

    <%= form_with model: [@relatable, CrewMember.new] do |form| %>
      <h4 class="font-bold text-2xl">Add a crew member</h4>

      <div class="flex flex-col sm:flex-row gap-6">
        <div class="basis-full sm:basis-1/2 relative">
          <%= form.label :person_id %>
          <%= form.text_field :person_id, required: true, autocomplete: "off", data: {controller: "ajax-search", ajax_search_search_url_value: people_path} %>
        </div>

        <div class="basis-full sm:basis-1/2">
          <%= form.label :job_id %>
          <%= form.text_field :job_id, required: true, autocomplete: "off", data: {controller: "ajax-search", ajax_search_search_url_value: jobs_path} %>
        </div>
      </div>

      <div>
        <%= form.submit "Save" %>
      </div>
    <% end %>
  </div>
</div>
