<div id="<%= dom_id show %>">
  <p>
    <strong>Language:</strong>
    <%= show.language_id %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= show.country_id %>
  </p>

  <p>
    <strong>Homepage:</strong>
    <%= show.homepage %>
  </p>

  <p>
    <strong>Imdb:</strong>
    <%= show.imdb_id %>
  </p>

  <p>
    <strong>Original title:</strong>
    <%= show.original_title %>
  </p>

  <p>
    <strong>Overview:</strong>
    <%= show.overview %>
  </p>

  <p>
    <strong>Runtime:</strong>
    <%= show.runtime %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= show.status %>
  </p>

  <p>
    <strong>Translated title:</strong>
    <%= show.translated_title %>
  </p>

  <p>
    <strong>Title kebab:</strong>
    <%= show.title_kebab %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= show.type %>
  </p>

</div>
